body {
  margin: 0 auto;
  width: 50%;
}

li {
  list-style-type: none;
}

h1 {
  background:
    linear-gradient(#1095c1 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, .08em);
  transition: .3s var(--t, 0s), background-position .3s calc(.3s - var(--t, 0s));
  display: inline-block;

}

h1:hover {
  --p: 100%;
  --t: .3s;
  color: #fff;
}

.links {
  text-decoration: none;

}

.single-entry-loaded,
.all-entries-list {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: 0 0 50px 1px black;

}

.all-entries-list {
  margin-top: 25px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  body {
    width: 100%;
  }

  .entries-list-container {
    width: 100%;
    padding-left: 0;
  }


}